@()(implicit req: RequestHeader)

@main("쉽게 말해요") {
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6 well">
      <p>좋은 글을 쓰고 싶으신가요? <strong>쉬운 말로</strong> 글을 써봐요. <a href="assets/words/words.txt">2000 단어</a>만 사용해요.</p>
      <textarea id="text" rows="15" style="width: 95%; resize: none">어려운 말을 쓰면 이렇게 밑줄이 생겨요.</textarea>
    </div>
    <div class="span3"></div>
  </div>

  <script type="text/javascript" src="assets/phpspellcheck/include.js"></script>
  <script type="text/javascript">
    var mySpell = new LiveSpellInstance()
    mySpell.Fields = "TEXTAREAS"
    mySpell.CaseSensitive = false
    mySpell.IgnoreAllCaps = false
    mySpell.IgnoreNumeric = false
    mySpell.CheckGrammar = false
    mySpell.ShowMeanings = false
    mySpell.ShowSummaryScreen = false
    mySpell.ActivateAsYouType()
  </script>
}
