@(articleForm: Form[String])(implicit req: RequestHeader, session: Session, flash: Flash)

@main("대문") {
  @if(flash.get("success").isDefined || flash.get("error").isDefined) {
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6 well">
        @flash.get("success").map { success =>
        <div class="text-success">@success</div>
        }
        @flash.get("error").map { error =>
        <div class="text-error">@error</div>
        }
      </div>
      <div class="span3"></div>
    </div>
  }
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div class="well">
        <center>
          <p><strong>공지</strong>: 2014년 1월 15일 오후 6시에 마감합니다.</p>
          <strong style="color: red;"><div id="countdown"></div></strong>
        </center>
      </div>
      <div class="well">
        <p>연구 내용을 쉽게 쓸 수 있는 내공이 있으세요? <a href='@routes.Assets.at("words/words.txt")'>가장 많이 쓰이는 한국어 낱말</a>만 사용해서 글을 써봐요.</p>
        @helper.form(routes.Board.create) {
        @helper.CSRF.formField
        <textarea id="text" name="text" rows="10" style="width: 95%; resize: none">어려운 말을 쓰면 이렇게 밑줄이 생겨요.</textarea>
        <p><button id="submit" class="btn btn-primary">쓰기</button>&nbsp;<span id="message"></span></p>
        <input id="count" style="display: none"></input>
        }
      </div>
      <div ng-controller="ArticleCtrl">
        <div class="well">
          <center><a href="" ng-click="refresh()">새로고침</a></center>
        </div>
        <ul class="unstyled">
          <li ng-repeat="article in articles">
            <div class="well" style="{{article.hardcoreStyle}}">
              <p>
                <strong>{{article.authorName}}</strong>
                <span style="white-space: pre-line;">{{article.content}}</span>
              </p>
              <p style="font-size: 13px">
                <a href="" ng-click="like(article)" style="{{article.likeStyle}}">좋아요</a>
                <a href="" ng-click="unlike(article)" style="{{article.unlikeStyle}}">좋아요 취소</a>
                | {{article.numLikes}}명이 좋아합니다
                <span style="{{article.updateStyle}}">
                  | <a href='@{routes.Board.updateGet("")}{{article.id}}'>바꾸기</a>
                </span>
                <span style="{{article.hardcoreMsgStyle}}">
                  | 1000단어 도전입니다
                </span>
                <span style="{{article.getCommentsStyle}}">
                  | <a href="" ng-click="getComments(article)">댓글 {{article.numComments}}개 보기</a>
                </span>
                <ul class="comments">
                  <li ng-repeat="comment in article.comments">
                    <p style="font-size: 13px">
                      <strong>{{comment.authorName}}</strong>
                      <span style="white-space: pre-line;">{{comment.content}}</span>
                    </p>
                  </li>
                  <li>
                    <textarea ng-model="article.newComment" ng-keypress="createComment($event, article)" rows="2" style="font-size: 13px; width: 95%; resize: none"></textarea>
                  </li>
                </ul>
              </p>
            </div>
          </li>
        </ul>
        <div class="well">
          <center>
            <a href="" ng-click="getMoreArticles()" style="{{getMoreArticlesStyle}}">20개 더 보기</a>
            <div style="{{lastArticleStyle}}">마지막 글입니다.</div>
          </center>
        </div>
      </div>
    </div>
    <div class="span3"></div>
  </div>

  <script type="text/javascript" src='@routes.Assets.at("js/article.js")'></script>

  <script type="text/javascript" src='@routes.Assets.at("phpspellcheck/include.js")'></script>
  <script type="text/javascript">
    var mySpell = new LiveSpellInstance()
    mySpell.Fields = "text"
    mySpell.CaseSensitive = false
    mySpell.IgnoreAllCaps = false
    mySpell.IgnoreNumeric = false
    mySpell.CheckGrammar = false
    mySpell.ShowMeanings = false
    mySpell.ShowSummaryScreen = false
    mySpell.ActivateAsYouType()
  </script>

  <script type="text/javascript">
    var textTag = $('#text');
    var countTag = $('#count');
    
    function enableButton() {
      if ((textTag.val() != "" && textTag.val() != "\n") && countTag.val() == "0") {
        $('#submit').removeAttr('disabled');
      } else {
        $('#submit').attr('disabled', 'disabled');
      }
    };

    enableButton();
  </script>

  <script type="text/javascript">
    var duedate = new Date('1/15/2014 18:00:01 GMT+09:00')
    var now = new Date()

    countdown('countdown', parseInt((duedate - now) / 1000, 10));
    function countdown(element, seconds) {
      // set time for the particular countdown
      var time = seconds;
      var interval = setInterval(function() {
        var el = document.getElementById(element);
        // if the time is 0 then end the counter
        if(time <= 0) {
          el.innerHTML = "마감했습니다!";
          clearInterval(interval);
          return;
        }
        var hours = Math.floor(time / 3600);
        if (hours < 10) hours = "0" + hours;

        var minutes = Math.floor((time - hours * 3600) / 60);
        if (minutes < 10) minutes = "0" + minutes;

        var seconds = (time - hours * 3600 - minutes * 60);
        if (seconds < 10) seconds = "0" + seconds;

        var text = hours + ':' + minutes + ':' + seconds;
        el.innerHTML = text;
        time--;
      }, 1000);
    }
  </script>
}
